html
{
	background-color: #00A6A1;
}

#page
{
	z-index: 1;
	width: 1028px;
	min-height: 845px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}

#u71
{
	z-index: 2;
	width: 1028px;
	padding-bottom: 61px;
	margin-right: -10000px;
}

#u77
{
	z-index: 3;
	width: 170px;
	margin-right: -10000px;
	left: 20px;
}

#u187
{
	z-index: 4;
	width: 215px;
	margin-right: -10000px;
	left: 17px;
	padding: 62px 17px 37px 2px;
}

#u200
{
	z-index: 5;
	width: 195px;
	margin-left: 16px;
}

#u206
{
	z-index: 7;
	width: 199px;
	margin-left: 14px;
	margin-top: 101px;
}

#u211
{
	z-index: 9;
	width: 200px;
	margin-left: 13px;
	margin-top: 100px;
}

#u1552
{
	z-index: 15;
	width: 199px;
	margin-left: 13px;
	margin-top: 105px;
}

#u221
{
	z-index: 11;
	width: 215px;
	margin-top: 135px;
}

#u1150
{
	z-index: 13;
	width: 637px;
	margin-right: -10000px;
	margin-top: 845px;
	left: 355px;
}

#u184
{
	z-index: 17;
	width: 757px;
	border-style: none;
	border-color: transparent;
	background-color: #6BE0DC;
	position: relative;
	margin-right: -10000px;
	margin-top: 97px;
	left: 271px;
}

#u1667
{
	z-index: 18;
	width: 512px;
	position: relative;
	margin-right: -10000px;
	margin-top: -48px;
	left: 245px;
}

#u1667_img
{
	padding-left: 111px;
	padding-top: 160px;
	vertical-align: top;
}

#u1672-7
{
	z-index: 20;
	position: relative;
	width: 531px;
	margin-right: -10000px;
	margin-top: 159px;
	left: 306px;
}

#u1673-7
{
	z-index: 27;
	position: relative;
	width: 251px;
	margin-right: -10000px;
	margin-top: 284px;
	left: 304px;
}

#u1672-7_img,#u1673-7_img
{
	display: block;
	vertical-align: top;
}

body
{
	padding-top: 36px;
	padding-bottom: 43px;
}

#page .verticalspacer
{
	clear: both;
}

