#u927
{
	border-style: none;
	border-color: transparent;
	background-color: #00A6A1;
	position: relative;
}

#u928
{
	border-style: none;
	border-color: transparent;
	background-color: #E85059;
	position: relative;
}

#u929
{
	border-style: none;
	border-color: transparent;
	background-color: #FF8180;
	position: relative;
}

#u939
{
	border-style: none;
	border-color: transparent;
	background-color: #BFFD6C;
	position: relative;
}

#u1159
{
	position: relative;
}

#u1159_img
{
	vertical-align: top;
}

